* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Alata', sans-serif;
}

<<<<<<< HEAD
a,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

=======
>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
body {
  background-color: #040e27;
}
header {
  position: relative;
  margin: 0 auto;
}

nav {
  border-bottom: 1px solid rgba(128, 126, 126, 0.541);
  color: whitesmoke;
  position: fixed;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
<<<<<<< HEAD
  background-color: #040e27b6;
=======
>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
  padding: 25px 40px;
}

header nav ul {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
<<<<<<< HEAD
}

nav ul li a {
  color: whitesmoke;
  font-size: 20px;
}

nav ul li:hover {
  transform: scale(1.1);
  transition: all ease-in 0.3s;
=======
>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
}

header nav ul li:nth-child(1) {
  margin-right: auto;
}
header nav ul li:not(:first-of-type) {
  margin-left: 20px;
}
header::after {
  content: '';
  display: block;
  width: 100%;
  height: 660px;
  background-color: #040e27b6;
  position: absolute;
  top: 0;
  left: 0;
}

.banner {
  height: 660px;
  text-align: center;
  background-image: url('../images/showcase-bg.png');
  background-color: #040e27;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.banner-info {
  z-index: 1;
  position: absolute;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 70%;
  line-height: 45px;
}
.banner-info h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 20px 0;
}
.banner-info p {
  font-size: 35px;
  font-weight: bolder;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
<<<<<<< HEAD
  max-width: 1800px;
=======
  max-width: 1400px;
>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
  justify-content: space-between;
}

.project {
<<<<<<< HEAD
  margin: 40px 0 0 0;
  width: 550px;
  height: 400px;

  /* height: 600px; */
  position: relative;
}

.project-info p {
  font-size: 25px;
  margin: 20px 0;
}

.project::after {
  content: '';
  display: block;
  height: 100%;
=======
  margin: 40px 0;
  width: 400px;
  position: relative;
}

.project::after {
  content: '';
  display: block;
  height: 99%;
>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease-in;
<<<<<<< HEAD
  background-color: #017ff5e0;
}

.project:hover .project-info {
=======
  background-color: #017ff5d2;
}

.project:hover::after {
  opacity: 1;
}

.project:hover .project-info {
  transform: translate(-50%, -50%);

>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
  opacity: 1;
}
.project-img-container {
  width: 100%;
<<<<<<< HEAD
  height: 100%;
  background-color: red;
=======
>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
}

.project-img-container img {
  width: 100%;
<<<<<<< HEAD
  height: 100%;
=======
>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
  object-fit: cover;
}

.project .project-info {
  display: block;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
<<<<<<< HEAD
  transform: translate(-50%, -50%);
=======
  transform: translate(-50%, -210%);
>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
  opacity: 0;
  text-align: center;
  z-index: 1;
  transition: all 0.5s ease 0s;
}

<<<<<<< HEAD
.project:hover::after {
  opacity: 1;
}

.project-info a {
  background-color: #040e27c5;
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
}

.project-info a:hover {
  transform: scale(0.95);
  transition: all 0.5s ease 0s;
=======
.project-info a {
  background-color: #040e27d3;
  padding: 15px 20px;
  display: inline-block;
>>>>>>> eb2dfb86f9fc4f2791d8c20582e9edc955f509a8
}
