* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Alata', sans-serif;
}

a,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

body {
  background-color: #040e27;
}
header {
  position: relative;
  margin: 0 auto;
}

nav {
  border-bottom: 1px solid rgba(128, 126, 126, 0.541);
  color: whitesmoke;
  position: fixed;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding: 25px 40px;
  background-color: #040e27;
}

header nav ul {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

header nav ul li {
  font-size: 20px;
}

header nav ul li:nth-child(1) {
  margin-right: auto;
}
header nav ul li:not(:first-of-type) {
  margin-left: 20px;
}
header::after {
  content: '';
  display: block;
  width: 100%;
  height: 660px;
  background-color: #040e27b6;
  position: absolute;
  top: 0;
  left: 0;
}

.banner {
  height: 660px;
  text-align: center;
  background-image: url('../images/showcase-bg.png');
  background-color: #040e27;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.banner-info {
  z-index: 1;
  position: absolute;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 70%;
  line-height: 45px;
}
.banner-info h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 20px 0;
}
.banner-info p {
  font-size: 35px;
  font-weight: bolder;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  max-width: 2500px;
  margin: 0 auto;
  justify-content: center;
}

.project {
  margin: 40px 5px;
  width: 450px;
  height: 400px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.562);
}

.project::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease-in;
  background-color: #017ff5e8;
}

.project:hover::after {
  opacity: 1;
}

.project:hover .project-info {
  opacity: 1;
}
.project-img-container {
  width: 100%;
  height: 100%;
}

.project-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .project-info {
  display: block;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  z-index: 1;
  transition: all 0.5s ease 0s;
}

.project-info p {
  font-size: 20px;
}

.project-info .project-links a {
  background-color: #040e27d3;
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
}

.project-info .project-links a:hover {
  transform: scale(0.96);
  transition: all ease-in 0.4s;
}
